body{
margin:0;
overflow:hidden;
font-family:Arial;
}

.login-page{
background:url("images/login.png");
background-size:cover;
background-position:center;
height:100vh;
position:relative;
}

.signup-page{
background:url("images/signup.png");
background-size:cover;
background-position:center;
height:100vh;
}

.patient-dashboard-page{
background:url("images/patient-dashboard.png");
background-size:cover;
background-position:center;
height:100vh;
}

.doctor-dashboard-page{
background:url("images/doctor-dashboard.png");
background-size:cover;
background-position:center;
height:100vh;
}

.admin-dashboard-page{
background:url("images/admin-dashboard.png");
background-size:cover;
background-position:center;
height:100vh;
}

.doctors-page{
background:url("images/doctors.png");
background-size:cover;
background-position:center;
height:100vh;
}

.overlay{
position:absolute;
top:260px;
right:180px;
width:680px;
}

input{
width:680px;
padding:20px;
margin-bottom:34px;

opacity:0;

cursor:pointer;
}

button{
width:680px;
height:70px;

opacity:0;

cursor:pointer;
}